/*!
 * STC - SCSS
 */

/* Variaveis */



$brand-escuro: #5C5C54 !default;
$brand-grama: #74BD5A !default;
$brand-grama2: #6BB855 !default;
$brand-musgo: #008753 !default;
$brand-claro: #FFF !default;
$brand-mar: #495F73 !default;


@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);


.navbar--stc {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3)!important;
  z-index: 9999;
}
.dropdown-menu{
  background: rgba(255, 255, 255, 0.3)!important;
  li>a {
    color: #FFF;
    &:hover{
      color: #000!important;
      background: white!important;
    }
  }
}
.logo {
  margin: -13px 0px;
}

.center-div {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#video-overlay {
    background: rgba(0,0,0,.5);
    background-image: url(/assets/images/pattern.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: .9;
}

.home--video {
  min-width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  video {
    min-height: 100%;
    min-width: 100%;
  }
  .video-logo {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    h1 {
      color: #FFFFFF;
      font-size: 44px;
      font-weight: 500; 
    }
  }
}

.slide-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    a {
      color: #FFF;
      font-size: 36px;
      font-weight: 500;
      text-decoration: none;
      padding: 10px;
      border: 2px solid;
      border-radius: 5px;
      z-index: 9;
      background: rgba(0, 57, 146, 0.5);
      &:hover{
        color: rgb(0,57,146);
        border-color: rgb(0,57,146);
        background: rgba(255, 255, 255, 0.5);
      }
    }
    i {
      font-size: 36px;
    }

}
.img--office {
  background-image: url(/assets/images/office.jpg);
}
.img--servicos {
  background-image: url(/assets/images/servicos.jpg);
}
.img--clientes {
  background-image: url(/assets/images/clientes.jpg);
}