<section id="mainFooter">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footerWidget text-center">
					<h1 class="bigTitle text-center">(31) 99999-0000</h1> 
					<address class="text-center">
						Rua dos Testes 444 - Bairro Planalto
					</address> 
				</div>
			</div>
		</div>
	</div>
</section>
<section id="footerRights">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<a class="footer-email" href="mailto:stc.engenharia@gmail.com" target="blank">stc.engenharia@gmail.com</a>
			</div>
		</div>
	</div>
</section>